.table_div {
    text-align: center;
}

.time_div {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.env_table {
    text-align: center;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
}

.env_table th {
    padding: 12px 0px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}

.env_table td, .env_table th {    
    padding: 5px;
}

.env_table tr:nth-child(even){background-color: #f2f2f2;}

.env_table tr:hover {background-color: #ddd;}